{% extends 'base.html' %}

{% block head %}
<title>Chordo</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SW99RFHNJG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SW99RFHNJG');
</script>
{% endblock %}

{% block body %}
<h1 class="text-center">Chordo</h1>
<h5 class="text-center">A Random Chord Progression Generator</h5><br>


<form class="text-center" action="{{url_for('calculate')}}" method = 'POST'>
    Choose a Key Signature
    <select id="selectkey" name="keysig">
        <option value="C Major">C Major</option>
        <option value="C# Major">C# Major</option>
        <option value="D Major">D Major</option>
        <option value="Eb Major">Eb Major</option>
        <option value="E Major">E Major</option>
        <option value="F Major">F Major</option>
        <option value="F# Major">F# Major</option>
        <option value="G Major">G Major</option>
        <option value="Ab Major">Ab Major</option>
        <option value="A Major">A Major</option>
        <option value="Bb Major">Bb Major</option>
        <option value="B Major">B Major</option>
    </select><br>
    How Many Chords
    <select id="selectnum" name="numchords">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select><br><br>
    <button type="submit" value="calculate">Click For Chords</button>
    <div class="row mt-3">
        <input class="text-center" value="{{final_list}}"
    </div>
</form>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>by <b><a style="text-decoration: none; color: #EE96A2;" href="https://judesweb.com"> JudesWeb</a></b></p>
    </div>
{% endblock %}